
body {
    padding-top: 0px;
    background-color: #f5eff5;
}

.jumbotron {
    padding-top: 18px;
    padding-bottom: 18px;
    color: #646b63;
    background-color: #ede1ed;
}

.jumbotron a {
    color: #854e85
}

.img-circle {
    width: 120px;
    height: auto;
}

.gradient-one{
    background-image: linear-gradient(to right, #bc8ebc, #854e85);
    background-repeat: repeat
}

.content {
    margin-left: 40px;
}


h2, h3 a {
    font-family: 'Lobster', cursive;
    color: #50564f
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.glyphicon-plus {
    float: right;
}

.date {
    color: cccccc;
    font-size: 12px;
}