{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <title>Nina Veselova</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//bootstrap-3.ru/examples/jumbotron/jumbotron.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>
  <body>

     <div class="jumbotron">
      <div class="container">
        <h2>Git guide</h2>
        <p>Hello, my name is Nina and this is small guide to my projects.</p>
      </div>
    </div>
     <div class="content container"
         <div class="row">
                    {% block content %}
                    {% endblock %}
            </div>
     </div>
  </body>
</html>